@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes bgmove {
    0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 30px, 0 30px;
  }
}

@utility animate-bgmove {
  animation: bgmove 2s linear infinite;
}